polkit.addRule(function(action, subject) {
  if (subject.user == "kid" && action.id.indexOf("org.freedesktop.udisks2.") == 0) {
    return polkit.Result.NO;
  }
});
